@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    bool IsMobile = (bool)ViewBag.IsMobile;
    string mtnNumber = null;
    if (IsMobile)
    {
        mtnNumber = (string)ViewBag.mtnNumber;
    }
    string SERVICE_SHORTCODE = System.Configuration.ConfigurationManager.AppSettings["SERVICE_SHORTCODE"].ToString();
}


@section style{
    <style>
        .game-container {
            display: block;
            height: 30em;
            position: relative;
        }

        #play.play {
            width: 100% !important;
            height: 600px !important;
            left: 0 !important;
        }

        #ajaxbar {
            background: #b2d3e6;
        }

        .isotopeSelector.block {
            height: auto;
        }
    </style>
}
<section class="page-section pale-white home">
    <div class="container-fluid">
        <form class="form-horizontal animated" id="register-form">
            <div class="form-group row">
                <div class="well" ng-show="pwResetSuccess == 1">
                    <p id="pWellMsg">{{wellMsg}}</p>
                </div>
            </div>
            <div ng-hide="pwResetSuccess == 1">
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-3 col-lg-offset-4">
                        <input type="text" id="txtRegUsername" class="form-control allownumericwithoutdecimal" placeholder="Email address / Phone No" ng-model="registerObj.szUsername">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-3 col-lg-offset-4">
                        <input type="password" id="txtRegPassword" class="form-control " placeholder="Password" ng-model="registerObj.szPassword">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-3 col-lg-offset-4">
                        <input type="password" id="txtRegPasswordConfirm" class="form-control " placeholder="Confirm password" ng-model="registerObj.szConfirmPassword">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-3 col-lg-offset-4">
                        <img src="~/Content/images/loadingGif.gif" id="regLoda" style="display: block; margin-left: auto; margin-right: auto;" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-5">
                        <button class="btn btn-primary btn-block disabledCtrl" ng-click="RegisterNewUser()"> Register</button>
                    </div>
                </div>
            </div>
            @*<div class="form-group row" ng-show="pwResetSuccess == 1">
                <div class="col-sm-6 col-sm-offset-3  col-xs-6 col-xs-offset-3">
                    <a href="/Account/Login" class="btn btn-success btn-block disabledCtrl"> Login</a>
                </div>
            </div>*@
            <div class="row" ng-hide="pwResetSuccess == 1">
                <div class="col-sm-6 col-sm-offset-3">
                    <hr />
                    <p class="text-center">Already have an account? <a href="/Account/Login" class="disabledCtrl">Login</a></p>
                </div>
            </div>
        </form>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        var _IsMobile = "@IsMobile";
        var _mtnNumber = "@mtnNumber";
        var _SERVICE_SHORTCODE = "@SERVICE_SHORTCODE";
    </script>

    @Scripts.Render("~/bundles/accountRegister")
}