@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    bool IsMobile = (bool)ViewBag.IsMobile;
    string mtnNumber = null;
    if (IsMobile)
    {
        mtnNumber = (string)ViewBag.mtnNumber;
    }
    string SERVICE_SHORTCODE = System.Configuration.ConfigurationManager.AppSettings["SERVICE_SHORTCODE"].ToString();
}
<section class="page-section pale-white home">
    <div class="container-fluid">
        <form class="fomr-horizontal">
            <div class="form-group row">
                <div class="well" ng-show="pwResetSuccess == 1">
                    <p id="pWellMsg">{{wellMsg}}</p>
                </div>
            </div>
            <div ng-hide="pwResetSuccess == 1">
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-3 col-lg-offset-4">
                        <input type="text" id="txtChangeUsername" class="form-control allownumericwithoutdecimal" placeholder="Email address / Phone No" ng-model="changepwObj.szUsername">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-3 col-lg-offset-4">
                        <input type="password" id="txtChangePassword" class="form-control " placeholder="Password" ng-model="changepwObj.szPassword">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-3 col-lg-offset-4">
                        <input type="password" id="txtChangePasswordConfirm" class="form-control " placeholder="Confirm password" ng-model="changepwObj.szConfirmPassword">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-3 col-lg-offset-4">
                        <img src="~/Content/images/loadingGif.gif" id="ChangeLoda" style="display: block; margin-left: auto; margin-right: auto;" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-5">
                        <button id="btnChangeUserPW" class="btn btn-primary btn-block disabledChangeCtrl" ng-click="ChangeUserPW()"> Reset Password</button>
                    </div>
                </div>
            </div>
            <div class="form-group row" ng-show="pwResetSuccess == 1">
                <div class="col-lg-2 col-md-2 col-sm-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-5">
                    <a href="/Account/Login" class="btn btn-success btn-block disabledCtrl"> Login</a>
                </div>
            </div>
        </form>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        var _IsMobile = "@IsMobile";
        var _mtnNumber = "@mtnNumber";
        var _SERVICE_SHORTCODE = "@SERVICE_SHORTCODE";
    </script>

    @Scripts.Render("~/bundles/accountResetPassword")
}