
@{
    ViewBag.Title = "GamePlay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    @Styles.Render("~/Content/pageSpecificCss")
    @*<link href="../Content/js/fancybox/jquery.fancybox.css" rel="stylesheet" />
        <link href="../Content/css/slider-pro.min.css" rel="stylesheet" />
        <link href="../Content/css/font-awesome.min.css" rel="stylesheet" />
        <link href="../Content/css/base-stylesheet.css" rel="stylesheet" />
        <link href="../Content/css/style.css" rel="stylesheet" />*@
}
<section class="page-section white-bg top_pad">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="blue_c blue_line">{{Game.Title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @*<img src="~/Content/images/whack-a-mole-large.png" alt="">*@
                <iframe style="min-width:100%; min-height:600px;" id="gamePlay" src=""></iframe>
            </div>
            <div class="col-md-4 ">
                <div class="panel game_details">
                    <div class="panel-body">
                        <h3 class="text-left dark_c blue_line">{{Game.Category}}</h3>
                        <div class="text-justify" id="longDesc"></div>
                    </div>
                    @*<div class="panel-body socials">
                            <span class="pull-right">
                                <a href=""> <i class="fa fa-facebook-square"></i></a>
                                <a href=""> <i class="fa  fa-twitter-square"></i></a>
                                <a href=""> <i class="fa fa-instagram"></i></a>
                            </span>
                            <h3 class="text-left blue_c">Share</h3>
                        </div>
                        <div class="leaderboards">
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th colspan="3" class="text-left"> Leaderboards</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>2000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>400</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>12</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dark-bg page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-10 col-xs-10 col-md-offset-0 col-sm-offset-1 col-xs-offset-1 home-section">
                <h1 class="blue_c">
                    Other Games in this Category
                </h1>
                <!-- <hr class="blue_line"> -->
            </div>
        </div>
        <div class="row ">
            <div id="example2" class="slider-pro">
                <div class="sp-slides" id="otherCategoryGames"></div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        var _Title = "@ViewBag.Title";
    </script>
    @Scripts.Render("~/bundles/Games-GamePlayPageJs")
}