@{
    ViewBag.Title = "GameList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{

    <link href="~/Content/css/slider-pro.min.css" rel="stylesheet" />
    <style>
        header {
            position: fixed;
            background: #fff;
            height: 60px;
            transition: height .4s ease;
        }

    </style>
}

<section class="page-section " id="game-area" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="game-loader text-center">
                    <img src="~/Content/images/logo.png" alt="Gamezone logo" />
                </div>
            </div>
            <div id="isotopeContainer" class="isotopeContainer" style="text-align:center;">
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        var _Title = "@ViewBag.Title";
    </script>
    @*<script src="~/Content/js/jquery.sliderPro.min.js"></script>
        <script src="~/Content/js/jquery.fancybox.pack.js"></script>
        <script src="~/Content/js/games.js"></script>*@
    <script src="~/Scripts/Games/List.js"></script>
    <script src="~/Content/js/jquery.lazyload.min.js"></script>
}