
@{
    ViewBag.Title = "GameList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section " id="game-area" style="margin-top:200px;">
    <div class="game-filter">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="filter-container isotopeFilters">
                        <ul class="list-inline filter text-center">                           
                            <li class="active gameMenu" id="family"><a href="#" data-filter=".family">Family</a></li>
                            <li class="gameMenu" id="strategy"><a href="#" data-filter=".strategy">Strategy</a></li>
                            <li class="gameMenu" id="action"><a href="#" data-filter=".action">Action</a></li>
                            <li class="gameMenu" id="cards"><a href="#" data-filter=".cards">Cards</a></li>
                            <li class="gameMenu" id="sports"><a href="#" data-filter=".sports">Sports</a></li>
                            <li class="gameMenu" id="adventure"><a href="#" data-filter=".adventure">Adventure</a></li>
                            <li class="gameMenu" id="puzzle"><a href="#" data-filter=".puzzle">Puzzle</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="isotopeContainer" class="isotopeContainer"></div>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        var _Title = "@ViewBag.Title";
    </script>
<script src="~/Content/js/jquery.sliderPro.min.js"></script>
<script src="~/Content/js/jquery.fancybox.pack.js"></script>
<script src="~/Content/js/games.js"></script>
<script src="~/Scripts/Games/List.js"></script>

    @*@Scripts.Render("~/bundles/Games-ListPageJs")*@
}