@{
    ViewBag.Title = "GameList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{

    <link href="~/Content/css/slider-pro.min.css" rel="stylesheet" />
    <style>
        header {
            position: fixed;
            background: #fff;
            height: 60px;
            transition: height .4s ease;
        }

        .game-filter {
            height: 50px;
            width: 100%;
            top: 60px;
            position: fixed;
        }
    </style>
}


<div class="game-filter filter-fixed hidden-xs hidden-sm ">
    <div class="container">
        <div class="row">
            <div class="col-md-10  col-md-offset-1">
                <div class="filter-container isotopeFilters">
                    <ul class="text-center nav navbar-nav top-filter">
                        <li class="gameMenu parent active all collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="family"><a href="#" data-filter=".family"><i class="fa fa-universal-access"></i>Family</a></li>
                        <li class="gameMenu parent adv  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="strategy"><a href="#" data-filter=".strategy"> <i class="fa fa-delicious"></i>Strategy</a></li>
                        <li class="gameMenu parent arc  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="action"><a href="#" data-filter=".action"> <i class="fa fa-codiepie"></i>Action</a></li>
                        <li class="gameMenu parent spo  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="cards"><a href="#" data-filter=".cards"> <i class="fa fa-steam-square"></i>Cards</a></li>
                        <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="sports"><a href="#" data-filter=".sports"> <i class="fa fa-soccer-ball-o"></i>Sports</a></li>
                        <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="adventure"><a href="#" data-filter=".adventure"> <i class="fa fa-anchor"></i>Adventure</a></li>
                        <li class="gameMenu parent car  collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse" id="puzzle"><a href="#" data-filter=".puzzle"> <i class="fa fa-puzzle-piece"></i>Puzzle</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="page-section " id="game-area" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="game-loader text-center">
                    <img src="~/Content/images/logo.png" alt="Gamezone logo" />
                </div>
            </div>
            <div id="isotopeContainer" class="isotopeContainer" style="text-align:center;">
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        var _Title = "@ViewBag.Title";
    </script>
    @*<script src="~/Content/js/jquery.sliderPro.min.js"></script>
        <script src="~/Content/js/jquery.fancybox.pack.js"></script>
        <script src="~/Content/js/games.js"></script>*@
    <script src="~/Scripts/Games/List.js"></script>
    <script src="~/Content/js/jquery.lazyload.min.js"></script>
}