@{
    ViewBag.Title = "GameList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{

    <link href="~/Content/css/slider-pro.min.css" rel="stylesheet" />
    <style>
        header {
            position: fixed;
            background: #fff;
            height: 60px;
            transition: height .4s ease;
        }
    </style>
}

<section class="page-section game-listbg"  >
    <div class="container">
        <div class="row">
           <div class="col-md-4 title">
              <div class="game-list">
                   <div class="panel-heading light-bluebg">
                       <h3 class="bitsumishi blue_c"><i class="fa fa-codiepie"></i>TOP ACTION GAMES</h3>
                   </div>
                   <div class="action">
                       <a href="">
                           <img src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                           <div class="action-pane">
                               <h4><i class="fa fa-play"></i> Play Sweet Candyland</h4>
                           </div>
                       </a>
                   </div>
                   <div class="panel-body">
                       <img class="pull-left" src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <h4><a class="btn orange-btn pull-right bitsumishi btn-sm">Play</a> Sweet Candyland</h4>
                   </div>
                   <div class="panel-body">
                       <img class="pull-left" src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <h4><a class="btn orange-btn pull-right bitsumishi btn-sm">Play</a> Sweet Candyland</h4>
                   </div>
                   <div class="panel-body">
                       <img class="pull-left" src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <h4><a class="btn orange-btn pull-right bitsumishi btn-sm">Play</a> Sweet Candyland</h4>
                   </div>
                   <div class="panel-body">
                       <img class="pull-left" src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <h4><a class="btn orange-btn pull-right bitsumishi btn-sm">Play</a> Sweet Candyland</h4>
                   </div>
               </div>
           </div>
           <div class="col-md-4 title">
               <div class="panel-heading light-bluebg">
                   <h3 class="bitsumishi blue_c"><i class="fa fa-soccer-ball-o"></i>TOP SPORT GAMES</h3>
               </div>
               <div class="action">
                   <a href="">
                       <img src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <div class="action-pane">
                           <h4><i class="fa fa-play"></i> Play Sweet Candyland</h4>
                       </div>
                   </a>
               </div>
               <div class=" game-list">
                   <div class="panel-body">
                       <img class="pull-left" src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <h4><a class="btn orange-btn pull-right bitsumishi btn-sm">Play</a> Sweet Candyland</h4>
                   </div>
                   <div class="panel-body">
                       <img class="pull-left" src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <h4><a class="btn orange-btn pull-right bitsumishi btn-sm">Play</a> Sweet Candyland</h4>
                   </div>
                   <div class="panel-body">
                       <img class="pull-left" src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <h4><a class="btn orange-btn pull-right bitsumishi btn-sm">Play</a> Sweet Candyland</h4>
                   </div>
                   <div class="panel-body">
                       <img class="pull-left" src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <h4><a class="btn orange-btn pull-right bitsumishi btn-sm">Play</a> Sweet Candyland</h4>
                   </div>
               </div>
           </div>
           <div class="col-md-4 title">
               <div class="panel-heading light-bluebg">
                   <h3 class="bitsumishi blue_c"> <i class="fa fa-puzzle-piece"></i>TOP PUZZLE GAMES</h3>
               </div>
               <div class="action">
                   <a href="">
                       <img src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <div class="action-pane">
                           <h4><i class="fa fa-play"></i> Play Sweet Candyland</h4>
                       </div>
                   </a>
               </div>
               <div class="game-list">
                   <div class="panel-body">
                       <img class="pull-left" src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <h4><a class="btn orange-btn pull-right bitsumishi btn-sm">Play</a> Sweet Candyland</h4>
                   </div>
                   <div class="panel-body">
                       <img class="pull-left" src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <h4><a class="btn orange-btn pull-right bitsumishi btn-sm">Play</a> Sweet Candyland</h4>
                   </div>
                   <div class="panel-body">
                       <img class="pull-left" src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <h4><a class="btn orange-btn pull-right bitsumishi btn-sm">Play</a> Sweet Candyland</h4>
                   </div>
                   <div class="panel-body">
                       <img class="pull-left" src="~/Content/images/candyland.jpg" alt="sweet candyland" />
                       <h4><a class="btn orange-btn pull-right bitsumishi btn-sm">Play</a> Sweet Candyland</h4>
                   </div>
               </div>
           </div>
        </div>
    </div>
</section>
<section class="page-section" id="game-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title">
                <div class="panel panel-heading">
                    <h3 class="bitsumishi blue_c">OUR GAMES CATALOGUE</h3>
                    @*<i class="fa fa-smile-o"></i>*@
                </div>
            </div>
                
                <div class="col-md-12">
                    <div class="game-loader text-center">
                        <img src="~/Content/images/logo.png" alt="Gamezone logo" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div id="isotopeContainer" class="isotopeContainer text-center">
                        </div>
                    </div>
                </div>
            </div>       
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        var _Title = "@ViewBag.Title";
    </script>
    @*<script src="~/Content/js/jquery.sliderPro.min.js"></script>
    <script src="~/Content/js/jquery.fancybox.pack.js"></script>
    <script src="~/Content/js/games.js"></script>*@
    <script src="~/Scripts/Games/List.js"></script>
    <script src="~/Content/js/jquery.lazyload.min.js"></script>
    

    @*@Scripts.Render("~/bundles/Games-ListPageJs")*@
}