/* a{  
    
    background-image: radial-gradient(circle at top,#fff 5%,hsl(197, 76%, 90%) 50%);
    radial-gradient(circle at top,#fff 5%,#729cf7 50%)
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50%;
} */

/*Custom*/
.hiddenPara{
    display:none;
}
@font-face {font-family: "Avenirlight";
  src:  url(avenir-light.ttf) format("truetype");
  font-weight:100; 
}

@font-face {font-family: "bitsumishi";
  src:  url(BITSUMIS.ttf) format("truetype");
  font-weight:100; 
}

@font-face {font-family: "Avenirlight";
    src: url("45f795e2729c54a39bb096a0feb5c212.ttf") format("truetype");
    font-weight: 400;
  }

body{
    font-family: Avenirlight !important;
    color:#535455;
}

.bitsumishi {
    font-family:bitsumishi !important;
}

h1, h3,h3,h4,h5,h6 {
    font-family: Avenirlight !important;
}

.site-container {
    background: #f1f1f1;
    background:url(../images/doodles.png),#ecf5fe;
    display: table;
    table-layout: fixed;
    position: relative;
    height: 100%;
    width: 100%;
    
}
.site-container:before {
    
    /* content: ""; */
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    background-image:radial-gradient(circle at top,#fff 5%,#fafbfc 50%); */
    /* radial-gradient(circle at top,#fff 5%,#b2caff 87%,#fff 37%); */
    content: "";
    position: absolute;
    width: 100%;
    /*background: #ffffffeb;*/
    background:rgba(250, 252, 254, 0.91);
    height: 100%;
}

.game-title {
    
    font-family: Avenirlight !important;
    color: #333;
    font-size: 13px;
    padding: 2px 6px 0px;
    line-height: 1.3;
    text-align: left;
    font-variant-caps: titling-caps;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.game-category {
    font-size: 10px;
    padding-left: 6px;
    color: #ff6a00e6;
}

.game-description .btn {
    border-radius: 0;
    padding: 3px 10px 3px;    
    border: 1px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(255, 255, 255);
    background: rgb(255, 106, 0);
    /*background:#2e8add;*/
}

.navbar{
    margin-bottom: 0;
}

header {
    position: absolute;
    min-height: 50px;
    right: 0;
    top: 0;
    left: 0;   
    z-index: 13;
}
.sticky{
    /* background: radial-gradient(circle at top,#fff 5%,#fafbfc 50%); */
    /*background: rgba(0, 0, 0, 0.8);*/
    position: fixed;
    /*box-shadow:0 1px 15px rgba(0,0,0,.15);*/
}

@keyframes fadeInDown{
    0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
    to{opacity:1;-webkit-transform:none;transform:none}
}
.nav-item {
    display: inline-block;
    width:35%;
    font-size: 1.15em;
}

.nav-link {
    margin: 0px 10px;
    position: relative;
    line-height: 2;
    font-size:larger;
    color: #0a6fb2;
    display: none;
}

.sticky .nav-link {
    font-size:large;
    display: inline-block;
}

.nav-logo {
    margin: 0px 10px;
    display: inline-block;
    position: relative;
}

.nav-link:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20%;
        right: 20%;
        height:3px;
        
}

.nav-link:hover, .nav-link.active {
    color: #ff6a00;
    text-decoration: none;
    cursor: pointer;
}
 
.nav-link:hover:before, .nav-link.active:before {
    background-color: #ff6a00;
}

.page-section{
    /*padding: 5% 0;*/
    min-height: 560px;
}


.page-section:first-of-type,.page-section.home {
    /*background: #0a6fb2;*/
    /*background:linear-gradient(to bottom right,#0a6fb2 50%,#f1f7f7);*/
    /*background:#fdfdfd;*/
    margin-top: 0;
    padding: 18% 0 10%;
    
}

main:before {
    /* content: ""; */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 48%;
    /* background-image: url(../images/stripe_wideTopRight_orange.svg); */
    -webkit-background-size: 35% 35%;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.game-filter {
    background-color: #ff6a00;
    position: relative;
    margin-bottom: 35px;
}

 .game-filter:after{
    content: '';
    display: table;
    background: url(../images/filter-bg-bottom.png) no-repeat center bottom;
    width: 100%;
    height: 28px;
    bottom: -28px;
    position: relative;
 }
 
 .filter {
    margin: 0;
 }

 .filter a {
    color: #fff;
    font-weight:400;
 }

 .filter>li {
    padding: 18px 3% 5px;
    transition-property: background-image,transform;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
 }

 .filter> li.active, .filter > li:hover{
    /* background-image: url(../images/candy.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;     */
    transform: scale(1.2);
}

.filter i {
    margin-right: 8px;
}

.filter li.active a, .filter > li:hover a {
    color: #fff;
}

.filter a {
    color: #d0e8f7;
    font-weight: 400;
}

 .navbar-toggler {
    margin: 25px 5px;
 }

 .home-text {
    /*padding: 4.5% 0;*/    
}


.home-text h1 {
    color: #0a6fb2;
    text-align:center;
}

.home-text h5 , .home-text {
    color:#09598e;
    text-align:center;
    font-size: 13px;
}

.home-text .btn , .trial .btn {
    margin: 8% 0 0;
    background: #ff6a00;
    color: #ffffff;
    font-size:1.72em
}

.hovereffect {
    /*width: 100%;*/
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: default;
    margin-bottom: 20px;
    background:#Fff;
}

.hovereffect.panel{
    border:0;
}


.orange_btn {
    margin: 8% 0 0;
    background: #ff6a00;
    color: #ffffff;
    font-size: 1.72em;
}

.hovereffect .overlay {
    /*display:none;*/
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 9.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,64%,0);
	transform: translate3d(0,64%,0);
    /* visibility: hidden; */
}

.hovereffect img {
    display: block;
    border-top-left-radius: 5px;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}


.hovereffect:focus:before, .hovereffect:hover:before {
    box-shadow: 0 7px 21px 0 rgba(0,0,0,.1);
    -webkit-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}

.hovereffect.panel{ 
   border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.12);
}

.hovereffect:before {
    background: #fff;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: box-shadow transform;
    transition-property: box-shadow transform;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hovereffect h3 {
    position: relative;
	margin: 0px;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h3,
.hovereffect p {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,0%,0);
	transform: translate3d(0,0%,0);
	visibility: visible;
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h3,
.hovereffect:hover p {
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    /* visibility: visible; */
}

.hovereffect:hover h3 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.site-footer {
    background:#0a6fb2;
    position:relative;
    color:rgba(255,255,255,.7);
    padding:4% 0 2%;
    background-color: transparent;
    background-image: url(../images/footer.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;  
}


.site-footer address {
 font-weight: 100;
 line-height: 25px;
}

.site-footer h4 {
    margin: 0 0 10px;
}

.site-footer .copyright {
    /* padding-top: 30px; */
    border-top: 1px solid rgba(255,255,255,.7);
}

.site-footer .copyright a{
    color:rgba(255,255,255,.7);  
}

.links-list i {
    float: left;
    margin: 5px 10px;
}

.links-list a {
    display: block;
    /* width: 100%; */
}

.contact a,.contact p {
    color: rgba(255,255,255,.7);
    margin: 0;
}

.pt-10 {
    padding-top: 20px;
    /* border-right: 1px solid rgba(255,255,255,.7); */
}

#main-menu .navbar {
    background: transparent;
    margin: 0;
    border-color: transparent;
}

li.current a , .sticky li.current a{
    border-color: rgb(255, 106, 0) !important;
    color: rgb(255, 106, 0) !important;
}

#games .sticky  {
    background:  #fff;    
    box-shadow:0 1px 15px rgba(0,0,0,.15);
}

#games #main-menu .navbar .nav>li>a {
    color: #797979;
}

.light-blue-bg{
    padding-top: 20%;
    background: #f0f8ffd6;
}

.blue_c{ 
    color: #0083ff;
}

.blue_line{    
    border-bottom: 3px solid #0083ff;
}

#games .home-section h1{
    font-size: 3em;
    font-weight: 500;
    text-align: center;
}

.header.no-transparent .logo-2, .logo-2 {
    padding: 10px 0 10px;
}

/*#main-menu .navbar .nav>li>a{
    color:#f1f1f1;
}*/

.overlay.description p {
    font-size: 85%;
}

.pale-blue-bg{
    background:#f0f8ffd6;
    /* background:url(../images/doodles.png),#f0f8ffd6; */
}

.white-bg {
    background:#fff;
}

.white_c {
    color: #fff;
}

.gameslide {
    padding-top: 5%;
}

.pale-white {
    /*background: #fdfdfd;*/
    background:linear-gradient(#fff,#dcedf7);
}

.features_list .icons {
    font-size: 2.0em;
    padding: 10px 12px;
    display: inline-block;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 0px 3px #0a6fb2;
}

.features_list li {
    list-style: none;
    padding:8px 0;
}

span.text {
    display: inline-block;
    vertical-align: super;
    color: #3972a9;
    font-size: 1.42em;
    margin-left: 13px;
}

ul.features_list {
    padding: 6px 0;
}

.trial h2{
    margin: 7% 0;
    font-family: inherit;    
    font-size: 2.5em;    
}

.trial h5 {
    color: #16164c;    
    font-size: 1.09em;
}

.trial {
    background:#b2d3e6;
    text-align:center;
}

.trial h5, .trial h2 {
    text-align:center;
}

.footer2-text-cont {
    margin-bottom: 0;
}

.leaderboards {
    overflow-y: scroll;
    height: 180px;
    background: #303036a1;
}

.top_pad {
    padding-top:5%;
}

.leaderboards::-webkit-scrollbar-thumb {
    background-color: #c3c1bf;
}

.leaderboards::-webkit-scrollbar {
    width: 0.8em;
}

.socials h3 {
    margin:0;
}

.socials a {
    display: inline-block;
    font-size: x-large;
    margin: 0 5px;
    color: #0083ff;
}

.game_details .leaderboards {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #0a6fb2;
    color: #f5f5f5;
}


 
#game-area.light-blue-bg + #footer4:before {
    content: '';
    height: 12%;
    top: 0;
    position: absolute;
    width: 100%;
    background: aliceblue;
    z-index: 0;
}

.game_details h4{
    border-bottom: 2px solid #0a6fb2;
}

.socials {
    background:#d2e9f7;
}

.dark_c {
    color:#0a6fb2;
}

.game_details p{
   padding-bottom: 15px;
}

.panel.game_details {
    box-shadow: 10px 0 50px 0 rgba(18, 25, 33, 0.1);
    border-radius: 8px;
    /* background: #ecf5fe; */
}

body::-webkit-scrollbar {
    width: 0.8em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #0a6fb2;
  outline: 1px solid slategrey;
} 

.modal-body {
    position: relative;
    padding: 8% 0;
}

.btn-primary {
    color: #fff;
    background-color: #0083ff;
    border-color: #0083ff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0a6fb2;
    border-color: #0a6fb2;
}

.dark-bg {
    background:linear-gradient(to bottom,#273f5b 40%,#fffff354 );
}

.dark-bg .sp-caption-container {
    color: #f5f5f5;
}

.dark-bg .sp-selected-button {
    background-color: #ff6a00;
}

.dark-bg .sp-button {
    border:2px solid #ff6a00;
}

.site-container#games {
     /* background: #273f5b; */
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

.leaderboards .table>tbody>tr>td, .leaderboards .table>tbody>tr>th,  .leaderboards .table>tfoot>tr>td,  .leaderboards .table>tfoot>tr>th, 
 .leaderboards .table>thead>tr>td, .leaderboards .table>thead>tr>th {
    border-top:none;
    padding: 8px 15px;
}

.top-filter li i {
    margin-right: 5px;
}

.top-filter li.active a {
    color:#ff6a00 !important;
}


.affix .header-wrapper {
    min-height:60px;
}

.blue_c {
    color:#09598e;
}

.trial h1 {
    color: #16164c;
    margin: 7% 0 7%;
}

.top-space {
     margin:20% 0 7%;
}

.panel-body.game-container:before {
    content:"";
    position:absolute;
    width:100%;
    top:0;    
    height: 100%;
    background:rgba(0, 0, 0, 0.64);
}

.panel-body.game-container.play:before {
    display:none;
}

.panel-body.game-container {
    padding:0;   
}

.panel-heading.orange-bg {
    cursor:pointer;
}

.orange-bg {
    background:#ff6a00;
}

.freegame-heading {
    text-align: center !important;
    margin: 2% 0 !important;
    color:#16164c;
}


.logo-container-2 {
   width: 200px;
}

@keyframes floating {
    0% {
        /*-webkit-transform: translateY(-5px);
        transform: translateY(-5px);*/
        transform:rotateY(-180deg);
    }

    100% {
        /*-webkit-transform: translateY(5px);
        transform: translateY(5px);
        transform:rotate('180deg');*/
    }
}

.game-loader img{
    width: 300px;
    animation:2s infinite alternate floating;
}

.game-loader {
    padding:10% 0 15%;
}

.orange-btn ,.orange-btn:hover{
    background: #ff6a00;
    color: #fff;
    padding: 1px 8px;
}

.footer-logo {
    width:70%;
}

.orange_c {
    color:#ff6a00;
}

 #slideshow > div {
   position: absolute;
   top: 10px;
 }

#more-btn {
   display:none;
 }

#ajaxbar {
    background:#b2d3e6 !important;
}

.game-listbg {
    /*background:linear-gradient(#b2d3e6,transparent);*/
    background:#ffffff;
}


.title i {
    margin-right: 10px;
}

.title h3 {
    margin: 5px 0;
}

.title .panel-heading {
    position:relative;
}

.title .panel-heading:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    height: 6px;
    left: 0;
    padding: 0 15px;
    background: url(../images/stripes.jpg);
}

.light-bluebg{
    background:#dcedf7;
}

.game-description {
    height: 46px;
    background: #f2f8fbbd;
    border-bottom-right-radius: 5px;
}

#slideshow {
    min-height: 300px;
}

.action-pane {
    padding: 10px 15px;
    background: #2e8add;
}



.game-list {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.18);
}  

.game-list .panel-body {
    border-bottom: 1px solid #ffffff;
    padding: 4px 10px;
    background: #eff4f78a;
}

.game-list img{
      width :35px;
      height: 35px;
      border-radius: 5px;
      margin-right: 10px;
}
.game-list .action img:first-of-type {
    width:100%;
    height:auto;
    border-radius:0;
    margin:0;
}

.game-list h4{
    margin :5px 0;
    font-size:0.98em;
    color:#2e8add;
}

.action-pane h4 {
    font-size: 1.04em;
    color: #fff;
    margin:0;
} 

/*.col-sm-2.isotopeSelector {
    width: 83px;
    float: left;
    padding: 0 5px;
}*/

@media(min-width:1023px) {

    .page-section:first-of-type,.page-section.home  {
        padding: 9% 0 5%;
    }

    .trial h5, .trial h1 , .trial{
        text-align:left;
    } 
}

@media (min-width:801px) {
    
     .no-pad {
         padding:0;
     }

     .lazy {
        min-width: 165px;
        height: auto;
        display:block;
        background:black;
     }
}

@media (min-width: 768px){

    /*.col-sm-2.isotopeSelector {
      width: 150px;
      padding:0 10px;
    }*/
    .light-blue-bg{
        padding-top: 6%;
    }

    .navbar-toggler {
        display: none;
    }

    .home-text h1,.home-text h5, .home-text {
        text-align:left;
    }  
      
    .home-text h5{
        font-size: 1.24em;
        margin: 10% 0 5%;
    }
    
    .main-header {
        font-size: 3em;
    }

    .modal-dialog {
        width: 600px;
        margin: 12% auto;
    }

    main:before {
        /* padding-bottom: 48%; */
        /* background-image: url(../images/stripe_tallTopLeft_gray.svg),url(../images/stripe_wideTopRight_orange.svg); */
        /* stripe_tallTopLeft_gray.svg?_v=17c36d3,stripe_wideTopRight_orange.svg?_v=1h8vvqd */
        /* background-size: 9%,35%; */
        background-position: 0 0,100% 0;
        background-repeat: no-repeat,no-repeat;
    }

}

@media(max-width:1024px) {
    .logo-container-2 {
        width: 200px;        
        margin-left: 10px;
    }

    .header {
        background: rgb(95, 161, 205);
    }

    .header-black .hamb-mob-icon {
        color: #ffffff;
    }
}

@media(max-width:800px) {
    .game-title  {
        font-size: 11px;   
    }
    .title h3 {
        font-size:21px;
    }
}